body {
    /*background: url('https://www.ixbt.com/img/n1/news/2021/11/6/hydb0rb0nt_big.jpg.efbeae98b12c2686debc2ecc82542834_large_large.jpg');*/
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}


.input {
    border: none;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 70%);
}

select {
    border: none;
    border-radius: .3em;
    margin-left: .5rem;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 70%);
    height: 30px;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
    color: black;
}
h1{
    color: black;
}
h2{
    color: #000;;
}
p{
    color: #000;
}
.currency{
    padding: 20px;

}
